@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<style type="text/css">
    div {
        text-align:center;
    }
</style>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <h1>Welcome to Hospital Query website</h1>
        <h2>Please ask your questions below to bot</h2>
        <br/>
        <iframe src="https://webchat.botframework.com/embed/hospital-bot-bot?s=3h4-bhCRATI.ScR_Jlkb3uG6NLSiq6TJs9KQWCn1VOf1s-BT2rZzPlM" style="height: 502px; max-height: 502px;"></iframe>
    </div>
</body>
</html>

